<pre id="result" style="color: var(--black);"> Wählen Sie eine Rezept zum Berechnen aus ...</pre>

<%- contentFor("headlineRight") %>
<input type="text" id="rezept" list="rezepte-liste" placeholder="  Rezeptname">
<select id="berechnungsart">
    <option value="rezepte"> Zwischenrezepte anzeigen </option>
    <option value="zutaten"> Zutatenliste erstellen </option>
    <option value="preis"> Preis Kalkulieren </option>
    <option value="naehrwertangaben"> Nährwertangaben erstellen </option>
</select>

<%- contentFor("head") %> 
<style>
    main {
        overflow-x: auto;
    }
</style>

<%- contentFor("bottom") %>
<datalist id="rezepte-liste"> </datalist>
    
<%- contentFor("script") %>
<script>
    window.onload = async () => {
        let zutaten = await fetchJSON("/api/liste/a")
        document.getElementById("rezepte-liste").innerHTML = ""
        document.getElementById("rezepte-liste").append(...zutaten.map(zutat => {
            let elem = document.createElement("option")
            elem.dataset.id = zutat.id
            elem.value = zutat.name
            return elem
        }))

        let search = new URLSearchParams(location.search)
        if(search.has("id")) {
            let elem = document.querySelector(`#rezepte-liste option[data-id='${search.get("id")}']`)
            if(elem == null) return
            document.getElementById("rezept").value = elem.value
            document.getElementById("rezept").dispatchEvent(new Event("change"))
            search.delete("id")
            history.replaceState(history.state, '', window.location.pathname + search.toString())
        }

    }

    document.getElementById("back").href = "/rezepte"
    document.getElementById("berechnungsart").addEventListener("change", e => {
        document.getElementById("rezept").dispatchEvent(new Event("change"))
    })
    document.getElementById("rezept").addEventListener("change", async e => {
        let id = document.querySelector(`#rezepte-liste option[value='${e.target.value}']`)?.dataset?.id
        let berechnungsart = document.getElementById("berechnungsart").value
        let data = await fetchJSON(`/api/rezept/${id}/berechnen/${berechnungsart}`, {
            method: "GET"
        }, (res, e) => {
            if(res.status == 400) {
                document.getElementById("result").innerText = e.message
                return true
            } else if(res.status == 404) {
                document.getElementById("result").innerText = "Das asgewählte Rezept konnte nicht gefunden werden."
                return true
            }
        })
        if(data != null) {
            document.getElementById("result").innerText = data
        }
    })
</script>