<img src="/icon.png" style="height: 50px; margin-top: 50px; margin-bottom: -20px;">
<h1 style="text-align: center;"> Meine digitale Rezeptverwaltung</h1>
<a href="/zutaten">
    <div>
        <span> Zutaten </span>
    </div>
</a>
<a href="/zwischenrezepte">
    <div>
        <span> Zwischenrezepte </span>
    </div>
</a>
<a href="/rezepte">
    <div>
        <span> Rezepte </span>
    </div>
</a>
<a href="/berechnen">
    <div>
        <span> Kalkulation </span>
    </div>
</a>
<a href="/drucken">
    <div>
        <span> Drucken </span>
    </div>
</a>

<% if(locals.useOidc && locals.isLoggedIn) { %>
<a href="/logout">
    <div>
        <span> Ausloggen </span>
    </div>
</a>
<% } else if(locals.useOidc) { %>
<a href="/login">
    <div>
        <span> Anmelden </span>
    </div>
</a>
<% } %>

<%- contentFor("head") %>
<link rel="shortcut icon" href="icon.png" type="image/x-icon">
<style>
    header {
        display: none;
    }
    main {
        flex-direction: column;
    }

    div {
        border: 5px var(--black) solid;
        border-radius: 20px;
        background-color: var(--prim);
        font-size: 25px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 300px;
        height: 70px;
        margin: 20px;
    }
    div:hover {
        filter: brightness(0.7)
    }
</style>